body{
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    text-align: right;  
    margin-right: 16px; 
    padding-top: 10px;
    margin-top: 10px;
}

.menu-items{
    font-size: 13px;
    color: rgb(0, 0, 0 , 0.87);
    text-decoration: none;
    position: relative;
    top: -8px;
    margin-right: 8px;
}

.menu-items:hover{
    text-decoration: underline;
}

#dropdown-menu{
    margin-right: 8px;
}

#account{
    position: relative;
    top: -6px;
}

section{
    text-align: center;
    padding-top: 11%;
}

.search-box{
    width: 100%;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
    /* margin-top: 24px; */
}

.search-box:hover{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search-box:focus{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.input-wrapper{
    position: relative;
    width: 582px;
    align-content: center;
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
}

.input-wrapper > img{
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    /* padding-top: 8px; */
}

.btn{

background-color: #f2f2f2;
color: #5F6368;
font-size: 14px;
height: 36px;
padding: 0 16px;
background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
border: 1px solid transparent;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
color: #222;

}

.btn:hover{
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
border: 1px solid #c6c6c6;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
color: #222

}

.btn:first-of-type{
    margin-right: 16px;
}

#app-dropdown{
    width: 285px;
    padding: 28px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 50px;
    display: none;
    top: 45px;
}

#dropdown-wrapper{
    display: inline-block;
}

#dropdown-wrapper:hover
#app-dropdown {
    display: block;
}

.app-items{
    display: inline-block;
    width: 84px;
    /* margin-bottom: 16px; */
    padding: 8px 2px;
    text-align: center;
}

.app-items:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}

.app-items > p{
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding-top: 8px;

}

.app-item-img{                /* or app-items > img{ }  */
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 768px) {
    header{
        text-align: center;
    }
    
    section{
        margin-top: 30%;
        align-content: center;
    }

    .input-wrapper{
        width: 65%;
        margin-right: 10px;
        align-content: center;
    }

    .logo{
        width: 40%;
    }

    .button{
        display: flex;
        /* align-content: center; */
        flex-direction: column;
        align-items: center;
        /* justify-content: space-around;
        flex-wrap: wrap; */
        
    }

    .button > :last-of-type{
        margin-top: 10px;
    }

    .app-items > img{
        height: 25px;
        width: 25px;
    }

    #app-dropdown{
        width: 300px;
        /* display: flex;
        flex-wrap: wrap; */
        padding: 5px;
    }
}